@font-face {
  font-family: "iconfont"; /* Project id 2393981 */
  src: url('iconfont.woff2?t=1674041181704') format('woff2'),
       url('iconfont.woff?t=1674041181704') format('woff'),
       url('iconfont.ttf?t=1674041181704') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbiaoti:before {
  content: "\e62b";
}

.iconyanjing_kai:before {
  content: "\e61b";
}

.iconyanjing-guan:before {
  content: "\e6fa";
}

.icontianchongxing-:before {
  content: "\e638";
}

.icontianchongxing-1:before {
  content: "\e639";
}

